<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
      {% if not session.logged_in %}
      <a href="/facebook_login">Login or Signup</a>
      {% else %}
      <ul>
      {% for i in Items: %}
      <li><b> {% print i%} </b><br></li>
      {%endfor%}
      </ul>
      {% for i in categs: %}
      <li><b> {% print (i)%} </b><br></li>
      {%endfor%}
      <a href="/logout">signout</a>
      {%endif%}
  </body>
</html>